[submodule "cs2110"]
	path = cs2110
	url = git@github.com:ATPAustinPeng/cs2110.git
[submodule "cs4641"]
	path = cs4641
	url = git@github.com:ATPAustinPeng/cs4641.git
[submodule "math3012"]
	path = math3012
	url = git@github.com:ATPAustinPeng/math3012.git
[submodule "cs2340"]
	path = cs2340
	url = git@github.com:ATPAustinPeng/cs2340.git
[submodule "cs2200"]
	path = cs2200
	url = git@github.com:ATPAustinPeng/cs2200.git
[submodule "cs3510"]
	path = cs3510
	url = git@github.com:ATPAustinPeng/cs3510.git
[submodule "cs3600"]
	path = cs3600
	url = git@github.com:ATPAustinPeng/cs3600.git
